.page-main{
    margin-top: 160px;
    padding: 20px 0;
}

.banner{
    width: 90%;
    margin: 0 auto 30px;
    padding: 25px 15px;
    text-align: center;
    background: linear-gradient(90deg,#ffc107,#ff9800);
    color: white;
    border-radius: 12px;
}

.banner h2{
    font-size: 22px;
}

.banner p{
    font-size: 16px;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img{
    width: 300px;
    height: 220px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}


.content{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content h2{
    color: #ff6f00;
    font-size: 18px;
    margin-bottom: 10px;
    min-height: 40px;
}

.content p{
    color: #666;
    line-height: 1.6;
}

.card-link{
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px){

    .page-main{
        margin-top: 180px;
    }

    .banner h2{
        font-size: 36px;
    }

    .banner p{
        font-size: 22px;
    }

    .container{
        gap: 25px;
    }

    .card{
        flex-direction: row;
    }

    .card img{
        width: 320px;
        height: 220px;
        object-fit: cover;
    }

    .content h2{
        font-size: 24px;
    }

    .content p{
        font-size: 16px;
    }
}
