*{
    margin: 0;
    box-sizing: border-box;
}
.page-main{
    margin-top: 180px;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.main__title{
    margin:10px;
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    color: orangered;
    text-align: center;
    background-color: white;
    border: 3px dashed lightblue;
    justify-self: center;
}
.product-list{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-self: center;
    justify-self: center;
    border: 3px dashed lightgreen;
}
.product{
    padding: 10px;
    margin: 10px;
    background-color: rgb(252, 244, 229);
    display: grid;
    text-align: center;
    border-radius: 10px;
    border: 2px solid orange;
}
.product:hover{
    transform: scale(1.05);
}
.product__img{
    margin: 5px;
    padding: 3px;
    width: 95%;
    height: 200px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    border: 2px solid orange;
}
.product a{
    font-style: normal;
    color: orangered;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid yellow;
}
.product p {
    font-weight: bold;
    color:black;
    font-size: 1rem;
    border: 2px solid pink;
}

.product a:hover {
    color: rgb(48, 183, 228);
}
/* ipad */
@media(min-width: 601px) {
    .product-list{
        grid-template-columns: repeat(3,1fr);
    }
}
/* laptop */
@media(min-width:  1025px){
    .product-list{
        grid-template-columns: repeat(4,1fr);
    }
}