
.page-main{
    width: 100%;
    background-color: white;
    /* padding: 10px;     */
    display: grid;
    grid-template-areas: 
    "main__title"
    "product-list"
    ;

    
}
.main__title{
    width: 100%;
    color:#2C3E50;
    /* font-weight: bold; */
    text-align: center;
    background-color: #FFB347;
    display: grid;
    grid-area: main__title;

}
/* .main__section{
    width: 100%;
    display: grid;
    grid-area: main__section;
} */
.product-list{
    /* border: 5px solid black; */
    padding: 10px;
    display: grid;
    grid-template-areas: product-list;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product{
    background-color: wheat;
    display: grid;
    grid-template-areas: 
    "product__img"
    "product__caption"
    "price";
    /* border: 5px solid red; */
    text-align: center;
}

.product__img{
    margin: 5px;
    padding: 3px;
    width: 95%;
    height: 200px;
    object-fit: cover;
    grid-template-areas: product__img;
    align-items: center;
}
.product a{
    grid-template-areas: product__caption;
    grid-template-rows: repeat(2,1fr);
    font-style: normal;
    color: black;
    text-decoration: none;
}
.product p {
    font-weight: bold;
    color: rgb(218, 15, 15);
    grid-template-areas: price;
}

.product a:hover {
    color: rgb(48, 183, 228);
}
