
.page-main{
    width: 100%;
    background-color: white;
    /* padding: 10px;     */
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "product-detail"
    "suggest";
}
.product-detail{
    grid-area: product-detail;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "product-detail__img product-detail__infor";
}
.product-detail__img{
    max-width: 500px;
    grid-area: product-detail__img;
}
.product-detail__infor{
    grid-area: product-detail__infor;
}
.product-detail__infor h2{
    font-size: 1.5rem;
    font-weight: normal;
}
.product-detail__price {
   color: orangered;
}
.product-detail__count{
    display: flex;
    align-items: center;
    text-align: center;
}
.product-detail__count-btn{
    color: orange;
}

.product-detail__action{
    display: flex;
}
.product-detail__action button{
    margin: 10px;
    background-color: orange;
    color: white;
    text-align: center;
    height: 50px;
    max-width: 150px;
    border: 1px solid orange;
    font-size: 1rem;
    cursor: pointer;
}
.suggest{
    grid-area: suggest;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "sg-title"
    "sg-content";
}
.suggest__title{
     text-align: center;
     color: #2C3E50;
     background-color: #FFB347;
     grid-area: sg-title;
}
.suggest__content{
    grid-area: sg-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
