.page-main{
    margin-top: 180px;
}
 a{
    text-decoration: none;
    color: orange;
 }
.breadcrumb {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 5px;
    padding: 0;
    color: orange;
    font-size: 1rem;
}
.breadcrumb li:not(:last-child)::after {
    content: "/";
}
.product__detail{
    margin: 20px;
    max-width: 95%;
    justify-self: center;
}
.product-detail__img{
    margin: 10px;
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.product-detail__infor{
    width: 400px;
    border-radius: 10px;
    font-size: 1.25rem;
}
.product-detail__infor h2{
    font-size: 1.4rem; 
    color: orangered;
}
.product-detail__price {
    color:black;
    font-weight: bold;
}
.product-detail__info-select{
    font-size: 1rem;
}
.product-detail__count{
    display: flex;
    text-align: center;
    gap: 2px;
}
.product-detail__count-btn{
    width: 25px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid orange;
}
.product-detail__count-input{
    text-align: center;
}
.product-detail__action{
    display: flex;
}
.product-detail__action button{
    margin: 10px;
    background-color: orange;
    color: white;
    text-align: center;
    height: 50px;
    max-width: 150px;
    border: 1px solid orange;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}
.suggest{
    margin: 10px;
    width: 100%;
    justify-self: center;
}
.suggest__title{
     text-align: left;
     color: orangered;
}
.suggest__content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.fa-star{
    color: gold;
}
.fa-star-half-stroke{
    color: gold;
}
.review{
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
}
.rating{
    font-size: 1.5rem;
    background-color: rgb(252, 244, 229);
    color: orangered;
    text-align: center;
}

.comment{
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: rgb(252, 244, 229);
}
.account-comment{
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    border: 5px solid lightcyan;
    padding: 10px;
}

#comment-messange{
    width: 300px;
    font-size: 1rem;
}
button[type="submit"]{
    background-color: orange;
    color: white;
    width: 250px;
    margin: 10px;
    height: 30px;
    font-size: 1rem;
}
/* ipad */
@media(min-width: 601px) {
    .product-detail__action button{
        font-size: 20px;
    }
    .suggest__content{
        max-width: 95%;
        grid-template-columns: repeat(2,1fr);
    }
    .product__detail{
        margin: 10px;
        max-width: 95%;
        display: grid;
        grid-template-areas:
        "product-detail__img product-detail__infor";
        gap:10px;
    }
}
/*laptop */
@media(min-width:  1025px){
    .product-detail__infor{
        font-size: 1.4rem;
    }
    .product-detail__infor h2{
        font-size: 1.6rem;
    }
    .suggest__content{
        max-width: 95%;
        grid-template-columns: repeat(4,1fr);
    }
    .product-detail__img{
        width: 350px;
        height: 250px;
    }
}