<footer class="page-footer">
    <a class="page-footer__logo" href="trangchu.html">
        <img src="/images/quancua2-logo.png" alt="Quán của 2 logo">
    </a>

    <div class="page-footer__columns">
        <div class="page-footer__col">
            <h3>LIÊN HỆ</h3>
            <p><i class="fa-solid fa-location-dot"></i> 101/4 3/2, Ninh Kiều, Cần Thơ</p>
            <p><i class="fa-solid fa-phone"></i> 0943914915</p>
            <p><i class="fa-solid fa-envelope"></i> quancua2@gmail.com</p>
        </div>

        <div class="page-footer__col">
            <h3>LIÊN KẾT NHANH</h3>
            <ul>
                <li><a href="trangchu.html">Trang chủ</a></li>
                <li><a href="gioithieu.html">Giới thiệu</a></li>
                <li><a href="sanpham.html">Thực đơn</a></li>
                <li><a href="khuyenmai.html">Khuyến mãi</a></li>
                <li><a href="tintuc.html">Tin tức</a></li>
            </ul>
        </div>

        <div class="page-footer__col">
            <h3>KẾT NỐI</h3>
            <div class="page-footer__social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="page-footer__legal">
        <p>© 2026 Quán của 2. All rights reserved.</p>
    </div>
</footer>
