<header class="page-header">
    <a href="trangchu.html" class="page-header__logo-link">
        <img class="page-header__logo" src="/images/quancua2-logo.png" alt="Quán của 2 logo">
    </a>

    <nav class="page-header__navbar">
        <a class="page-header__link page-header__active" href="trangchu.html">Trang chủ</a>
        <a class="page-header__link" href="gioithieu.html">Giới thiệu</a>
        <a class="page-header__link" href="sanpham.html">Thực đơn</a>
        <a class="page-header__link" href="khuyenmai.html">Khuyến mãi</a>
        <a class="page-header__link" href="tintuc.html">Tin tức</a>
    </nav>

    <div class="page-header__actions">
        <div class="page-header__cart">
            <a href="giohang.html">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="cart-count">0</span>
            </a>
        </div>
        

        <button class="menu-toggle">
            ☰
        </button>
    </div>
</header>