<div class="top_container">
    <div class="top_left">
        <i class="fa-solid fa-location-dot"></i> 101/4 3/2, Phường Ninh Kiều, TP Cần Thơ |
        <i class="fa-solid fa-phone"></i> 0943914915 |
        <i class="fa-solid fa-clock"></i> 10:00 - 22:00
    </div>
    <div class="top_right">
        <span id="user-area">
            <a href="dangki.html">
                <i class="fa-solid fa-user-plus"></i> Đăng ký
            </a>
            <span> | </span>
            <a href="dangnhap.html">
                <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
            </a>
        </span>

        <div class="search-box">
            <input type="text" placeholder="Tìm sản phẩm..." />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</div>
